body {
  font-family: "Cardo", serif;
  color: gainsboro;
}

div.weather-app {
  background-image: url("../images/walking-b:w.jpg");
}

h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: center;
}

h2 {
  display: block;
  font-size: 50px;
  font-weight: 100;
  line-height: 28px;
  text-align: center;
}

p {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: center;
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
}

li::first-letter {
  text-transform: capitalize;
}

small {
  margin-left: 325px;
}

.weather-app-wrapper {
  max-width: 550px;
  display: block;
  margin: 40px auto;
}

.weather-app {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-left: 325px;
  max-width: 650px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 15px;
}

.weatherdetails-container {
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.weather-temperature .active {
  color: gainsboro;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.row {
  text-align: center;
}

.units {
  text-align: center;
}

#description {
  text-align: center;
}

.col-sm-4 {
  font-size: 17px;
}

.detail-icon {
  width: 40px;
  height: 50px;
}
